@using Entities.Concrete
@model List<Category>
@{
    Layout = null;
}
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAll</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>@item.CategoryStatus</td>
                        <td>@item.CategoryDescription</td>
                    </tr>
                }
            </tbody>

        </table>
        <a class="btn btn-primary" href="/Category/Add">Yeni Kategori</a>
    </div>
    
        
    
</body>
</html>
